{% comment %}
You can pass this include template the parameter "collection" to get a
deeply linked TOC to all the collection fragments and their subheaders.
{% endcomment %}


{% assign ccc = site.chapter2_sec_howey  %}

{% for slice in ccc %}

  {% assign fixedURL = slice.url | relative_url %}
  {% assign c2 = slice.content %}

  {% if page.title == slice.title %}
  Avoiding a looper
  {% assign c2 = page.content  %}
  {% endif % }

  what i got in c2 fix1
  
  {{ c2 }}
  end what I got
  {% include toc.html html=c2 sanitize=true class="inline_toc" base_url=fixedURL id="toc_frag" h_min=1 h_max=3 %}

{% endfor %}

