{% comment %}
You can pass this include template the parameter "collection" to get a
deeply linked TOC to all the collection fragments and their subheaders.

Note the generating step comes before the rendering step,
so you need to | markdownify, to force the markdown is rendered early
so the TOC script can parse it for html headers.

Assumes caller already defined their appropriate collection before invoking.
{% endcomment %}

{% for slice in collection %}

  {% assign fixedURL = slice.url | relative_url %}
  {% assign c = slice.content | markdownify %}
  {% include toc.html html=c sanitize=true class="inline_toc" base_url=fixedURL id="toc_frag" h_min=1 h_max=3 %}

{% endfor %}

