{% comment %}
You can pass this include template the parameter "collection" to get a
deeply linked TOC to all the collection fragments and their subheaders.
{% endcomment %}

{% unless foo %}
{% assign ccc = site.chapter2_sec_howey  %}

{% for slice in ccc %}
{% assign foo = true %}

<h1> recursion 2</h1>
<h2> {{ slice.title }} </h2>
  {% assign fixedURL = slice.url | relative_url %}
  {% assign c2 = slice.content %}
  {% include toc.html html=c2 sanitize=true class="inline_toc" base_url=fixedURL id="toc_frag" h_min=1 h_max=3 %}

{% assign foo = false %}
{% endfor %}
{% endunless %}
