---
layout: default
---
{% assign chapter = page.chapter %}

{% if chapter == "SEC" %}
{% assign collection = site.chapter2_sec_howey  %}
{% for slice in collection %}
  {% if forloop.first %}
    {% capture slicetitle %}
      {{ slice.title }}
    {% endcapture %}
  {% endif %}
  stz {{ slice.title }} stz
  pt {{ page.title }} pt
  {% if slicetitle == page.title % }
     <p> <a href="{{ 'chapters/chapter2sec' | relative_url }}"> <ul><li>[Full Chapter]</ul></li> </p>
     {% include collectiontoc.html %}
  {% endif %}
{% endfor %}
{% endif %}

    {{ content }}



{% if chapter == "SEC" %}
{% assign collection = site.chapter2_sec_howey  %}
{% for slice in collection %}

{% if slice.title == page.title %}
    {% unless forloop.first %}
        <a class="prev" href="{{ prev.url | relative_url }}">&larr;&nbsp;{{ prev.title }}</a>
    {% endunless %}
    {% unless forloop.last %}
        {% assign next = collection[forloop.index] %}
        <a class="next" style="float:right" href="{{ next.url | relative_url }}">{{ next.title }}&nbsp;&rarr;</a>
    {% endunless %}
{% endif %}
{% assign prev = slice %}

{% endfor %}
{% endif %}
