---
layout: default
---
{% assign chapter = page.chapter %}

{% if chapter == "SEC" %}
{% assign collection = site.chapter2_sec_howey %}
{% endif %}

{% for slice in collection %}
{% if forloop.first %}
    <p>
    <a href="{{ slice.url | relative_url }}">
      {{ slice.title }}
    </a>
    </p>
{% endif %}
{% endfor %}

  <h1 class="chpt">{{ collection.title }}</h1>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
        {% if page.title == collection[0].title %}
        {% for slice in collection %}
            {% unless forloop.first %}
        <p>
        <a href="{{ slice.url | relative_url }}">
          {{ slice.title }}
        </a>
        </p>        
            {% endunless %}
        {% endfor %}
        {% endif %}
  {{ content }}
</div>

<p> <a href="{{ 'chapters/chapter2sec' | relative_url }}"> Access full chapter text </a> or continue below to read section by section </p>

{% if chapter == "SEC" %}
{% for slice in collection %}

{% if slice.title == page.title %}
    {% unless forloop.first %}
        <a class="prev" href="{{ prev.url | relative_url }}">&larr;&nbsp;{{ prev.title }}</a>
    {% endunless %}
    {% unless forloop.last %}
        {% assign next = collection[forloop.index] %}
        <a class="next" style="float:right" href="{{ next.url | relative_url }}">{{ next.title }}&nbsp;&rarr;</a>
    {% endunless %}
{% endif %}
{% assign prev = slice %}

{% endfor %}
{% endif %}
